.binary-nav {
    display: block;
    background: url($baseurl + '/assets/img/logo-blue.svg');
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
}

.binary-toggle {
    display: block;
    background: url($baseurl + '/assets/img/hamburger.svg');
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
}
