body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header {
    background-color: #2A3052;
}

.logo {
    margin: auto;
    display: block;
}

h1 {
    font-weight: 300;
    color: #E98024;
    text-align: center;
}

.border-right {
    border-right: 1px solid rgba(0,0,0,.2);
}

.border-left {
    border-left: 1px solid rgba(0,0,0,.2);
}

.btn {
    padding: 50px 0;
    margin-bottom: 1rem;
    text-align: center;

    &.small {
        padding: 40px 0;
    }
    &.big {
        padding: 100px 0;

        @media (max-width: 841px) {
            padding: 50px 0;
        }
    }

    &.modal {
        padding: 10px 0;
    }
}

.menu-tab {
    align-self: center;

    a {
        min-width: 60px;

        span {
            font-size: 0.8rem;
            text-transform: capitalize;
        }
    }
    @media (max-width: 768px) {
        display: none;
    }
}

.menu-toolbar {
    background-color: #ffffff;

    a {
        align-self: center;
        text-decoration: none;
        span {
            color: #2A3052;
        }
    }
}

.menu-toggle {
    border-right: 1px solid rgba(0,0,0,.2);
}

.sm-down {
    &.hide {
        @media (max-width: 841px) {
            display: none;
        }
    }
}

.sm-up {
    &.hide {
        @media (min-width: 840px) {
            display: none;
        }
    }
}
