body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #2A3052;
}

.logo {
    margin: auto;
    display: block;
}

h1 {
    font-size: 36px;
    font-weight: 300;
    color: #E98024;
    text-align: center;
}

.top-menu {
    box-shadow: 0px 15px 10px -15px #b0b0b0;

    a {
        text-decoration: none;
    }
}

.border-right {
    border-right: 1px solid #b0b0b0;
}
